<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        {{!-- this is the syntax to inect partials --}}
        {{> footer}}
    </body>
</html>